
{{#each books as |book| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{book.book_title}}
    </h2>

  </div>
</div>
{{/each}}

<section id="searchdisplay">
    <header>
        <h1>Enter book title, author name, or book id here: </h1>
    </header>
        <input type="text" id="searchbar"/>
</section>



