
   
<br><br><br><br>
    <form class="form login-form text-info-emphasis">
      <div class="form">
        <label for="email-login ">Email:</label>
        <input class="form-input " type="text" id="email-login" />
      </div>
     
      <div class="form">
        <label for="password-login">Password:</label>
        <input class="form-input text-info-emphasis" type="password" id="password-login" />
      </div>
      <br>
      <div class="form">
        <button class="btn btn-info" type="submit">Login</button>
      </div>
    </form>
  </div>
 
 <br>
 
    <form class="form signup-form text-info-emphasis">
      <div class="form ">
        <label for="name-signup">Name:</label>
        <input class="form-input " type="text" id="name-signup" />
      </div>
      <div class="form">
        <label for="email-signup">Email:</label>
        <input class="form-input " type="text" id="email-signup" />

      </div>
      <div class="form">
        <label for="password-signup">Password:</label>
        <input class="form-input " type="password" id="password-signup" />
      </div>
      <br>
      <div class="form">
        <button class="btn btn-info" type="submit">Signup here</button>
      </div>
    </form>
    <br><br>
 <p class="hidden" id="invalidemailorpw">Invalid email or password, please try again. Password must contain 8 characters, both upper and lower case letters, and at least one special character</p>

<script src="/js/login.js"></script>