<section id="profiledisplay">
    <div id="bookmarkscard">
        <div id="bookmarksheader">Bookmarks List</div>
        <ui id="bookmarklist">
            <li>Sample book</li>
        </ui>
    </div>
    <div id="profilecard">
        <div id="profileheader">{{user_name}}</div>
        <div id ="profileinfo">User bio?</div>
    </div>
</section>