* {
  background-color: rgb(65, 64, 64);
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #0dcaf0;
  color: white;
  width: 300px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: lightblue;
  color: white;
  border: none;
  cursor: pointer;
}
.card {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 20px;
  border: 1px solid lightgray;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form {
  position: relative;
  text-align: center;
  
}
.betterbtn {
  position: relative;
  text-align: center;
  
}

